@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Printer Cartridge Tool</h1>
    <hr/>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <p>Printers</p>
            <a href="@Url.Action("PrinterList", "Printer")">
                <span>Printer View</span>
            </a><br/>
            <a href='@Url.Action("PrinterAdd", "Printer")'>
                <span>Printer Add</span>
            </a><br/>
            <a href="@Url.Action("PrinterDelete", "Printer")">
                <span>Printer Delete</span>
            </a>

        </div>
        <div class="col-sm">
            <p>Cartridges</p>
            <a href='@Url.Action("CartridgeAdd", "Cartridge")'>
                <span>Cartridge Add</span>
            </a><br/>
            <a href='@Url.Action("CartridgeIssue", "Cartridge")'>
                <span>Cartridge View</span>
            </a>
        </div>
    </div>
</div>
